<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <listeners>
        <listener class-name="com.sogeti.assignment.utility.MyTransformer"/>
        <listener class-name="com.sogeti.assignment.utility.ExtentReportListner"/>
  </listeners>  
  <test name="SogetiAssignmentAPIs">
    <classes>
      <class name="com.sogeti.assignment.countrydetails.CountryDetails"/>
    </classes>
  </test>
</suite> <!-- Suite -->
